@model FinalProject.Models.Product

@{
    ViewData["Title"] = "Product Detail";
}

<h2>Product Detail</h2>

<div>
    <h4>Product Name: @Model.Name</h4>
    <p>Description: @Model.Description</p>
    <p>Price: @Model.Price</p>
    <p>Quantity: @Model.Quantity</p>
    <p>Category: @Model.Category.Name</p>
    <p>Supplier: @Model.Supplier.Name</p>
    @if (!string.IsNullOrEmpty(Model.Image))
    {
        <img src="@Model.Image" alt="Product Image" style="max-width: 100px;" />
    }
    else
    {
        <img src="https://e7.pngegg.com/pngimages/980/697/png-clipart-empty-set-null-set-computer-icons-mathematics-mathematics-triangle-symbol-thumbnail.png" alt="No Image" style="max-width: 100px;" />
    }
</div>

<p>
    <a asp-action="Index">Back to List</a>
</p>
